<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58a1e9076cfb4200128ad444&product=sticky-share-buttons"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://techiesupportllc.com">My Company</a></li>
				</ul>
			</footer>
		</body>
	</html>
